@use "@/styles/variables/variables" as variables
.footer
  display: flex
  margin-top: 2rem
  padding-top: 1rem
  flex-wrap: wrap
  gap: 2rem
  justify-content: space-evenly
  font-family: variables.$inter-font
  border-top: 0.075rem solid gray
  &__navigation
    max-width: 100px
    width: 100%