@use "@/styles/variables/variables" as variables

.header
  padding: 0.25rem
  border-bottom: 0.075rem solid gray
  font-family: variables.$inter-font
  &__navigation
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
  &__list
    display: flex
    flex-wrap: wrap
    align-items: center
    margin: 0.5rem
    flex-direction: row
  &__item
    padding: 0.25rem
  &__logo
    font-size: variables.$font-size-18